html, body {height: 100%;
            }

#wrap {min-height: 100%;}

#main {overflow:auto;/* must be same height as the footer */
	padding-bottom: 40px;    
    min-width:960px;
    margin-left:180px;
    
}  

#footer {position: relative;
	margin-top: -40px; /* negative value of footer height */    
	height: 30px;
	clear:both;} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

/* sticky footer above*/
#footer ul{
    display:inline;
    padding: 0 1em;    
}

li{
    display:inline;
    padding:0px 2px;    
}

#signin {
    background-color:cornflowerblue;
    border: 1px solid cornflowerblue;
    height:30px;
    width:40px;
    color:white;
    padding-right:50px;
    border-radius:4px;
}




#header {
    height:2.5em;
    width:auto;
    
}


h1{
    position:relative;
    margin-top:2.7em;
    text-align:center;
    
}
#top-nav{
    width: 18.75em;
    height:2em;    
    float:right;
    background-color:white;
    padding-top:0.63em;
    
}

#move{
    padding-bottom:5em;
}


img#applink {
    width:20px;
    height:20px;   
    }

#top-nav a{
    margin:0;
    padding:.5em;
}

#google{
    font-size:6em;
    font-family:serif;
    text-align:center;
    padding-bottom:.3em;
    color:red;
   
    
 }



#input-div {
    width:960px;
    height:40px;  
   
   }

#input-form{
   
	border: 1px solid grey;  
	width: 700px;
	height: 35px;	
    margin-left:10em;
    background-image:url(black-microphone.png);
    background-repeat:no-repeat;
    background-size:20px 20px;
    background-position:right;
    }


#search-buttons{
    width:20em;
    height:2em;
    margin-left:auto;
    margin-right:auto;
    padding-top:1em;
    padding-bottom:1em;    
}
#search #lucky{
    
    
}
/*Style Google name*/
#a {
    color:blue;
    
}

#c {
    color:gold;
    
}
#d {
    color:blue;
    
}
#e {
    color:green;
    
}


.butt {
    border: 1px outset grey;
    background-color: aliceblue;
    height:2em;
    width:9em;
    margin-left:30px;
    margin-bottom: 20px;
    border-radius: 3px;

    
}

.butt:hover {
   border: 2px  grey;
    color:white;
}

#search{
  float:left;
    
}

#lucky{
   float:right;
}


a{
    text-decoration:none;
    font-family: sans-serif;
    color:black;    
    font-size:0.8em;
    
}
 
a:link {
    
}
a:visited {
    
}
a:focus {
    color: none;
}
a:hover {
    text-decoration:underline;
}
a:active {
    color:blue;
}


#unfortunate-correction{
    padding-left:340px;
}
.footer-section li a{
    padding: 5px 20px 10px ;
    line-height: 3em;
    
    color:grey;    
 }

#footer {
  width:100%;
  background-color:#F2F2F2;    
}
.footer-section {
  float:left;
  width:50%;
}
